.banner {
  position: relative;
  .banner__container {
    display: flex;
    .banner__image {
      position: absolute;
      .banner__imageitem {
        z-index: 0;
      }
    }
    .banner__item {
      display: flex;
      align-items: center;
      position: absolute;
      height: 30px;
      list-style: none;
      margin-top: 8%;
      left: 22%;
      right: 25%;
      .banner__form {
        @include button($color-white,$color-grey);
        border-radius: 7px;
        border: 2px solid $color-yellow;
        width: 85%;
        height: 25px;
      }
      .banner__itemlink {
        @include button ($color-yellow,$color-black);
        margin: 0px 10px;
        width: 15%;
        border: 2px solid $color-yellow;
        border-radius: 5px;
        height: 30px;
      }
    }
  }
}