.footer__container {
  background-color: $color-black;
  .footer__information {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    .information__address {
      width: 15%;
      padding: 45px 0px;
      .address__icon {
        position: relative;
        & img {
          width: 60%;
          padding-bottom: 10%;
        }
      }
      .address__icon::before {
        content: "";
        background-color: $color-yellow;
        height: 1px;
        width: 40%;
        top: 70px;
        position: absolute;
      }
      .address__info {
        margin-right: 40%;
        & ul {
          list-style: none;
          padding: 0px;
          & li {
            color: $color-white;
            font-size: $fuente-pequena;
            text-align: center;
          }
        }
      }
    }
    .information__contact {
      width: 15%;
      padding: 45px 0px;
      .contact__icon {
        & img {
          width: 60%;
          padding-bottom: 10%;
        }
      }
      .contact__info {
        margin-right: 40%;
        & ul {
          list-style: none;
          padding: 0px;
          & li {
            color: $color-white;
            font-size: $fuente-pequena;
            text-align: center;
          }
        }
      }
    }
    .information__normativity {
      width: 13%;
      padding: 45px 0px 45px 20px;
      border-left: 1px solid $color-greymargin;
      .normativity__title {
        padding: 10% 20% 10% 0%;
        position: relative;
        & h4 {
          color: $color-white;
          margin: 0px;
        }
      }
      .normativity__title::before {
        content: "";
        background-color: $color-yellow;
        height: 1px;
        width: 40%;
        top: -5px;
        position: absolute;
      }
      .normativity__info {
        & ul {
          list-style: none;
          padding: 0px;
          & li {
            color: $color-greyfooter;
            font-size: $fuente-pequena;
            cursor: pointer;
          }
        }
      }
    }
    .information__quicklinks {
      width: 13%;
      padding: 45px 20px 45px 0px;
      border-right: 1px solid $color-greymargin;
      .quicklinks__title {
        padding: 10% 20% 10% 0%;
        position: relative;
        & h4{
          color: $color-white;
          margin: 0px;
        }
      }
      .quicklinks__title::before {
        content: "";
        background-color: $color-yellow;
        height: 1px;
        width: 40%;
        top: -5px;
        position: absolute;
      }
      .quicklinks__info {
        & ul {
          list-style: none;
          padding: 0px;
          & li {
            color: $color-greyfooter;
            font-size: $fuente-pequena;
            cursor: pointer;
          }
        }
      }
    }
    .information__socialnetworks {
      width: 13%;
      padding: 45px 20px;
      .socialnetworks__title {
        padding: 10% 20% 10% 0%;
        position: relative;
        & h4 {
          color: $color-white;
          margin: 0px;
          font-size: $fuente-pequena;
        }
      }
      .socialnetworks__title::before {
        content: "";
        background-color: $color-yellow;
        height: 1px;
        width: 40%;
        top: -5px;
        position: absolute;
      }
      .socialnetworks__title::after {
        border-top: 2px solid $color-yellow;

      }
      .socialnetworks__icon {
        & ul {
          list-style: none;
          padding: 0px;
          display: flex;
          & li {
            cursor: pointer;
            & img {
              width: 75%;
            }
          }
        }
      }
    }
  }
  .footer__end {
    width: 80%;
    display: flex;
    margin: auto;
    padding: 3% 0% 2%;
    .footer__endleft {
      & p {
        color: $color-greyfooter;
        font-size: $fuente-pequena;
      }
    }
    .footer__endright {
      margin-left: 310px;
      & p {
        color: $color-greyfooter;
        font-size: $fuente-pequena;
      }
    }
  }
}