.topmenu {
  background-color: $color-alternativeblack;
  height: 35px;
  .topmenu__container {
    display: flex;
    width: 80%;
    height: 100%;
    .topmenu__item {
      display: flex;
      @include orientation (end);
      list-style: none;
      align-items: center;
      margin: 0px;
      padding: 0px;
      width: 100%;
      .topmenu__itemlink {
        @include orientation (center);
        margin: 0px 10px;
        font-size: $fuente-pequena;
        height: 25px;
        align-items: center;
        & a {
          @include text ($color-grey,none);
        }
      }
    }                                                                                                                                           
  }
}







