.topmenu {
  background-color: $color-alternativeblack;
  color: $color-grey;
  font-family: 'Lato', sans-serif;
  .topmenu__container {
    display: flex;
    width: 80%;
    .topmenu__item {
      display: flex;
      @include orientation (end);
      list-style: none;
      margin: 0px;
      padding: 0px;
      width: 100%;
      .topmenu__itemlink {
        @include orientation (center);
        margin: 0px 5px;
        font-size: $fuente-pequena;
      }
    }                                                                                                                                           
  }
}







