/// @desc: Encapsula los estilos correspondientes al botón del topmenu
/// @param: $background-Color - Especifica el color de fondo que tomará el elemento
/// @param: $Color - Especifica el color de la letra que tomará el elemento
@mixin button ($background-color,$color){
  background-color: $background-color;
  color: $color;
}

/// @desc: Encapsula la orientación correspondiente a un elemento especifico o contenedor
/// @param: $orientation - Especifica la orientación que tomará el elemento
@mixin orientation ($orientation) {
  /// Posibles valores
  /// start
  /// end
  /// center
  /// around
  /// between

  display: flex;
  @if($orientation == start or $orientation == end) {
      justify-content: flex-#{$orientation};
  }
  @else if($orientation == around or $orientation == between) {
      justify-content: space-#{$orientation};
  }
  @else {
      justify-content: center;
  }
}

/// @desc: Encapsula los estilos correspondientes al botón del topmenu
/// @param: $color - Especifica el color de texto que tomará el elemento
/// @param: $text-decoration - Especifica la decoración del texto tomará el elemento
@mixin text ($color,$text-decoration){
  color: $color;
  text-decoration: $text-decoration;
}

/// @desc: Encapsula el responsive con Media Query
/// @param: @media - Especifica las medidas del elemento
@mixin media-query($device) {
  /// phone
  /// tablet
  /// desktop
  /// desktopxl

  @if ($device == phone) {
      @media screen and (min-width: 320px) and (max-width: 650px) {
          @content;
      }
  }
  @else if ($device == tablet) {
      @media screen and (min-width: 760px) and (max-width: 1024px) {
          @content;
      }
  }
  @else if ($device == desktop) {
      @media screen and (min-width: 1030px) and (max-width: 1500px) {
          @content;
      }
  }
  @else if ($device == desktopxl) {
      @media screen and (min-width: 1600px) {
          @content;
      }
  }

}
