/// @desc: Encapsula los estilos correspondientes al botón del topmenu
/// @param: $background-Color - Especifica el color de fondo que tomará el elemento
/// @param: $Color - Especifica el color de la letra que tomará el elemento
@mixin button ($background-color,$color){
  background-color: $background-color;
  color: $color;
  font-family: 'Lato', sans-serif;
}

/// @desc: Encapsula la orientación correspondiente a un elemento especifico o contenedor
/// @param: $orientation - Especifica la orientación que tomará el elemento
@mixin orientation ($orientation) {
  /// Posibles valores
  /// start
  /// end
  /// center
  /// around
  /// between

  display: flex;
  @if($orientation == start or $orientation == end) {
      justify-content: flex-#{$orientation};
  }
  @else if($orientation == around or $orientation == between) {
      justify-content: space-#{$orientation};
  }
  @else {
      justify-content: center;
  }
}

/// @desc: Encapsula los estilos correspondientes al botón del topmenu
/// @param: $background-Color - Especifica el color de fondo que tomará el elemento
@mixin container (){

}