/// Colors
$color-primaryblack: #101000;
$color-alternativeblack: #1a1a1a;
$color-grey: #a9a9a9;
$color-white: #ffffff;
$color-yellow: #ffdd00;
$color-black: #000000;

/// Fonts
$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

/// Decorations
$text-decoration: none;

/// Borders
